:root{
    /* Bright Colors */
    --primary-color: #cfb0f7;
    --secondary-color: #f1e8ff;
    --senary-color: #FFEE88;

    /* Vibrant Colors */
    --quaternary-color: #b137d6;
    --septenary-color: #FE5F55;

    /* Dark Colors */
    --tertiary-color: #000000;
    --quinary-color: #4a256d;
    --octenary-color: #7f5ba0;
}

.subMenu{
    height: 200px;
    border: 0 solid var(--quinary-color);
    border-width: 0 3px;
    border-radius: 20px;
    margin: 5px;
    box-sizing: border-box;
}
.logBox div{
    color: var(--octenary-color);
    overflow-y:scroll;
}
.logBox p{
    font-size: 1em;
}
.action-btn{
    border: none;
    border-radius: 15px;
    color: var(--quinary-color);
    background-color: var(--primary-color);
    height: 60px;
    margin: 10px 10px;
    font-size: 1em;
    transition-duration: 0.3s;
}
.action-btn:hover, .action-btn:focus{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0px 6px var(--quinary-color);
    transform: translateY(-6px);
    color: var(--quinary-color);
    transition-duration: 0.3s;
}
#statNumbersArea{
    overflow-y: scroll;
    height: 79.3%;
    color: var(--octenary-color);
}
#statNumbersArea p{
    padding: 2px;
    margin: 0;
    font-size: 0.85em;
}