:root{
    --primary-color: #6f00ff;
    --secondary-color: #ffffff;
    --tertiary-color: #000000;
    --quaternary-color: #b137d6;
    --quinary-color: #4a256d;
}

*{
    font-family: 'Silkscreen', sans-serif;
    font-weight: normal;
    line-height: 1;
}
h1, h2{
    margin: 0;
    padding: 0;
}
header h2{
    font-size: 16px;
}
header h1{
    font-size: 26px;
}
header{
    text-align: center;
    border: 2px solid var(--tertiary-color);
    padding-bottom: 10px;
    padding-top: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color:var(--quinary-color);
    color: var(--secondary-color);
}
header h2 span{
    color: var(--primary-color);
}
header h1 span{
    display: block;
    font-size: 34px;
    font-family: "Silkscreen", sans-serif;
    color: var(--quaternary-color);
}
main{
    padding: 20px;
    border-left: 2px solid var(--tertiary-color);
    border-right: 2px solid var(--tertiary-color);
}
main form{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
}
ul{
    padding: 0;
    list-style-type: none;
    margin: 0;
}
nav ul li{
    display:inline-block;
    margin: 0;
}
nav ul :not(:last-child){
    border-right: 2px solid var(--primary-color);
    padding-right: 10px;
}
li a{
    text-decoration: none;
    color: var(--primary-color);
}
li a:hover, li a:focus{
    color: var(--quinary-color);
}
li a:visited{
    color: var(--quaternary-color);
}
li a:visited:hover, li a:visited:focus{
    color: var(--quinary-color);
}
footer{
    padding: 0px 20px 20px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid var(--tertiary-color);
    border-left: 2px solid var(--tertiary-color);
    border-right: 2px solid var(--tertiary-color);
}

.character-creation-div{
    display: inline-block;
    box-sizing: border-box;
}

#content{
    width: 1000px;
    margin: 0 auto;
}
#name{
    width: 300px;
}
#name-row{
    text-align: left;
    margin-bottom: 10px;
}
#role-row{
    text-align: left;
    margin-bottom: 10px;
}
#role-img{
    border: 2px solid var(--tertiary-color);
    image-rendering: pixelated;
    width: 125px;
}
#middle{
    display: grid;
    place-items: center;
}
#playerNameTitle {
    word-wrap: break-word; /* Allow long words to be broken and wrap onto the next line */
    overflow-wrap: break-word; /* Also allow long words to be broken and wrap onto the next line (alternative name for word-wrap) */
    hyphens: auto; /* Enable automatic hyphenation */
}