:root{
    /* Bright Colors */
    --primary-color: #cfb0f7;
    --secondary-color: #f1e8ff;
    --senary-color: #FFEE88;

    /* Vibrant Colors */
    --quaternary-color: #b137d6;
    --septenary-color: #FE5F55;

    /* Dark Colors */
    --tertiary-color: #000000;
    --quinary-color: #4a256d;
}

body{
    background-color: var(--secondary-color);
    margin: 8px;
}
*{
    font-family: 'Silkscreen', sans-serif;
    font-weight: normal;
    line-height: 1;
    font-size: 20px;
    box-sizing: border-box;
}
h1, h2{
    margin: 0;
    padding: 0;
}
#content{
    width: 1500px;
    margin: 0 auto;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header h2{
    font-size: 16px;
}
header h1{
    font-size: 26px;
}
header{
    text-align: center;
    border: 2px solid var(--quinary-color);
    padding-bottom: 10px;
    padding-top: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color:var(--quinary-color);
    color: var(--secondary-color);
}
header h2 span{
    color: var(--senary-color);
}
header h1 span{
    display: block;
    font-size: 34px;
    color: var(--quaternary-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.character-creation-div{
    display: inline-block;
    box-sizing: border-box;
}

main{
    padding: 20px;
    border-left: 2px solid var(--quinary-color);
    border-right: 2px solid var(--quinary-color);
}
main form{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    font-size: 20px;
}
main input, main select{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--quinary-color);
}
main h1, main h2, main h2 span{
    font-size: 30px;
    margin: 0;
}
main h3{
    margin: 0 0 10px 0;
}
main h2 span{
    color: var(--quaternary-color)
}
button{
    padding: 60px 100px;
    border: none;
    color: var(--secondary-color);
    background-color: var(--quaternary-color);
    transition-duration: 0.25s;
    border-radius: 200px;
    font-size: 1.5rem;
}
button:hover, button:focus{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0px 15px var(--quinary-color);
    transform: translateY(-15px);
    color: var(--quinary-color);
}
.disabled, .disabled:hover, .disabled:focus{
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    box-shadow: none;
    transform: translateY(0px);
    opacity: 50%;
}

#left > ul{
    height: 100%;
    display: grid;
    grid-template-rows: 72px 72px 256px;
}
#create-parent{
    display: grid;
    place-items: center;
}
#name{
    width: 100%;
}
#name-row{
    text-align: left;
    margin-bottom: 10px;
}
#role-row{
    text-align: left;
    margin-bottom: 10px;
}
#role-img{
    image-rendering: pixelated;
    width: 250px;
}
#middle{
    display: grid;
    place-items: center;
}
#statsLabel{
    color: var(--quinary-color);
}
.h3{
    font-size: 1.1rem;
}
#playerNameTitle {
    color: var(--tertiary-color);
    word-wrap: break-word; /* Allow long words to be broken and wrap onto the next line */
    overflow-wrap: break-word; /* Also allow long words to be broken and wrap onto the next line (alternative name for word-wrap) */
    hyphens: auto; /* Enable automatic hyphenation */
}
#statNumbers{
    margin-top: 15px;
    color: var(--quinary-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
ul{
    padding: 0;
    list-style-type: none;
    margin: 0;
}
nav ul li{
    display:inline-block;
    margin: 0;
}
nav ul :not(:last-child){
    border-right: 2px solid var(--primary-color);
    padding-right: 10px;
}
li a{
    text-decoration: none;
    color: var(--primary-color);
}
li a:hover, li a:focus{
    color: var(--quinary-color);
}
li a:visited{
    color: var(--quaternary-color);
}
li a:visited:hover, li a:visited:focus{
    color: var(--quinary-color);
}
footer{
    padding: 0px 20px 20px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid var(--quinary-color);
    border-left: 2px solid var(--quinary-color);
    border-right: 2px solid var(--quinary-color);
}
.current-page, .current-page:visited{
    color: var(--quinary-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */